@using practice_TrekCompany.Controllers.Spares.sparesEquipmentControllers
@using practice_TrekCompany.Controllers.Spares.sparesFramesetControllers
@using practice_TrekCompany.Controllers.Spares.sparesGroopsetControllers
@using practice_TrekCompany.Controllers.Spares.sparesWheelsetControllers

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <h1 class="jumbotron-heading text-center">Деталі</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Категорія</th>
            </tr>
        </thead>


                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Brake" asp-action="Index">Brakes</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Carriage" asp-action="Index">Carriages</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Fork" asp-action="Index">Forks</a></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Frame" asp-action="Index">Frames</a></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Grips" asp-action="Index">Grips</a></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Handlebar" asp-action="Index">Handlebars</a></td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Hub" asp-action="Index">Hubs</a></td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Pedals" asp-action="Index">Pedals</a></td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Rim" asp-action="Index">Rims</a></td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Saddle" asp-action="Index">Saddles</a></td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="SeatPost" asp-action="Index">SeatPosts</a></td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Steering" asp-action="Index">Steerings</a></td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Stem" asp-action="Index">Stems</a></td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Tire" asp-action="Index">Tires</a></td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td><a class="nav-link text-dark" asp-area="" asp-controller="Transmition" asp-action="Index">Transmitions</a></td>
                    </tr>
                </tbody>

    </table>

</div>