@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Trek Marlin 4
        <small>Gen 2</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="https://ukrbike.com.ua/assets/cache/images/2022/marlin4_22_29759_a_portrait-1000x-e54.jpg" alt="Image1">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Model.Title</h3>
            <p>Класичний гірський велосипед Trek Marlin 4 із оновленою рамою. Троси приховані всередині рами, зручне та практичне рішення, яке притаманне більш дорогим моделям. Добре знайома серія жіночих велосипедів Marlin WSD припиняє своє існування. Моделі не ділитимуться на чоловічі та жіночі, натомість кількість кольорових рішень для кожної з версій збільшилась. Рами у ростовках XS і S мають колеса 27.5 дюймів і занижену верхню трубу, що значно полегшує експлуатацію велосипеду райдерами із зростом до 165 см. Всі інші ростовки мають пряму верхню трубу і 29-дюймові колеса. Передбачені кріплення для встановлення багажника та підніжки.</p>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Фреймсет</h3>

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <tH scope="row">Розміри</tH>
                    <td>Колеса 27.5": XS, S. Колеса 29": M, M/L, L, XL, XXL</td>
                </tr>
                <tr>
                <th scope="row">Рама</th>
                <td>
                    Alpha Silver Aluminium, внутрішнє проведення тросів перемикачів, гідролінії заднього гальма та дроппер-посту, інтегроване кріплення підніжки та багажника
                </td>
                </tr>
                <tr>
                <th scope="row">Вилка</th>
                <td>SR Suntour XCE 28, пружинна, регулювання навантаження, хід 100 мм ( у розмірі XS - хід 80 мм)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->

</div>