
@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Велосипеди</h1>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row"> 
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://ukrbike.com.ua/assets/cache/images/2022/marlin4_22_29759_a_portrait-1000x-e54.jpg" width="100%" height="225" alt="Card image cap">
                            <div class="card-body">
                            <p class="card-text">Trek Marlin 4 Gen 2</p>
                            <p class="card-text">Категорія: Хардтейл</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" asp-action="Detail" class="btn btn-sm btn-outline-secondary">View</button>
                                    </div>
                                <small class="text-muted">	25500 грн.</small>  
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>