@using practice_TrekCompany.Models.spares.sparesFrameset
@using practice_TrekCompany.Models.spares
@model IEnumerable<Fork>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <h1 class="jumbotron-heading text-center">Деталі</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Найменування</th>
                <th scope="col">Кількість</th>
            </tr>
        </thead>

        @{
            int i = 1;
        }

        @foreach (var fork in Model)
        {
                    <tbody>
                        <tr>
                            <th scope="row">@i</th>
                            <td>@fork.forkName</td>
                            <td>@fork.forkQuantity</td>
                        </tr>
                @{
                    i++;
                }
                    </tbody>
        }

    </table>

</div>